/*VUE page 自定义的通用CSS */
li,ol{
  list-style: none;
}
.cell a,span a{
  color: #409EFF;
}
.w100{
  width: 100%;
}
.handle-input {
  width: 200px;
  display: inline-block;
}
.handle-box {
  margin-bottom: 20px;
}
.handle-box2{
margin-top: 20px;
}
.handle-select {
  width: 120px;
}



/* 改写element-ui */
.el-button--text{
  padding-top: 0px;
  padding-bottom: 0px;
}
.el-table .cell{
  line-height: 20px;
}
.el-table .caret-wrapper{
  height: 20px;
}
.el-table .sort-caret.ascending{
  top: -1px;
}
.el-table .sort-caret.descending{
  bottom: -1px;
}
.el-table th{
  text-align: center 
}
.el-card__header{
  background-color: #f5f5f5 ; 
}
/* 改写默认的css */
.collapseBoard .el-collapse-item__header,
.collapseBoard .el-collapse-item__content{
  padding-left: 20px;
}
.el-table .cell{
  width: 100%;
  overflow: hidden;
  white-space: nowrap !important; 
  text-overflow: ellipsis;
}